/* TYPEFACES [字体]
-------------------------------------------------------------------------------------------*/
/* TEXT STYLES [文字样式]
-------------------------------------------------------------------------------------------*/
/* CSS [层叠样式表]
-------------------------------------------------------------------------------------------*/
/* FLEX [flex布局]
------------------------------------------------------------------------------------------*/
/* KEYFRAMES [关键帧]
-------------------------------------------------------------------------------------------*/
/* ANIMATION [动画]
-------------------------------------------------------------------------------------------*/
/* GLOBAL [全局]
-------------------------------------------------------------------------------------------*/

body {
    background-image: url(/images/bg-noise.png) !important;
    box-sizing: 100px 100px;
    background-color: #2f9acf !important;
    color: white;
}

:root {
    /*----- Font Family -----*/
    --Kuang:'Kuang','Courier New', Courier, monospace;
    --Food:'Food','Courier New', Courier, monospace;
}

@media only screen and (min-width: 1020px) {
    .wrap {
      max-width: 1000px;
    }
  }
  @media only screen and (min-width: 1340px) {
    .wrap {
      width: 100%;
      padding: 0;
      max-width: 1040px;
    }
}


/* FLEX [flex布局]
------------------------------------------------------------------------------------------*/

.download-text {
    position: absolute;
    right: 152px;
    animation: slideInDown 1s ease !important;
}
  
#download_scroll_desktop {
    position: fixed;
    top: 20px;
    right: 40px;
    width: 70px;
    z-index: 1;
    animation: slideInUp 1s ease;
}


/* SECTIONS
-------------------------------------------------------------------------------------------*/

.hero .download-moblie {
    display: none;
}

.hero picture {
    padding-top: 15px;
}

.mod .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mod .col {
    width: 42%;
}

.mod .col.feature {
    align-content: flex-end;
}

.mod .feature {
    position: absolute;
    right: 20%;
}

.mod.matches .feature {
    position: relative;
    left: -15%;
}

.mod.explore .feature {
    position: relative;
    left: -30%;
}

.mod picture img {
    width: auto;
    max-width: 500px;
    height: 80%;
    max-height: 650px;
    margin-top: 50px;
    position: relative;
    left: -70%;
}

.mod.matches picture img {
    position: relative;
    left: 20%;
}

.mod.explore picture img {
    position: relative;
    left: 10%;
    width: 450px;
} 

.how-title {
    margin-top: 140px !important;
}

